.sysolov_popup{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  &_content {
    background-color: #fff;
    padding: 1em;
    border-radius: 1em;
    min-width: 400px;


    &_title {
      display: flex;
      justify-content: space-between;
      padding-bottom: .5em;
      border-bottom: solid 1px #ccc;
      margin-bottom: .5em;
    }
  }
}